@mixin before_count {
    &:before {
        content: '';
        transform: translate(-13px, -11px);
        position: absolute;
        width: 44px;
        height: 41px;
        border: 1px solid $main-green;
        box-sizing: border-box;
        border-radius: 11px;
        z-index: -1;
    }
}

@mixin before_item-bottom {
    &:before {
        content: '';
        transform: translate(0px, 20px);
        position: absolute;
        width: 279px;
        height: 1px;
        background-color: $main-green;
        opacity: 0.3;
        z-index: -1;
    }
}